/* F O N T S */
h1 {
	color: #FFFAFA;
	font-size: 50px;
	font-family: Geneva, Helvetica, Arial;
}
h3 {
	color: #FFFAFA;
	font-size: 1.5em;
	margin-bottom: 0;
	margin-top: 0;
	font-family: Comic Sans MS, Helvetica, Arial;
}
h4 {
	color: #FFFAFA;
	font-size: 1em;
	margin-bottom: 0;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0;
	font-family: Geneva, Helvetica, Arial;
}
p {
	color: #FFFFFA;
	font-family: Helvetica, Arial;
	font-size: 1em;
}
p.text-soft {
	color: #FFFAFA;
	font-size: 0.75em;
	font-style: italic;
	margin: 0;
}

/*W R A P P E R */
.wrapper {
	align-content: center;
	display: flex;
	flex-direction: column;
	margin:0px;
	min-height: 100vh;
	position: absolute;
	top: 0;
}

/* B O D Y */
body {
	margin: 0;
	/* Hintergrund */
	background-color: #505050;
	/* background-image: url("/image/bg_cindy.jpg");
	background-repeat: no-repeat;
	background-size: cover;*/
	overflow: hidden auto;
	resize: both;
}

/* N A V */
nav {
	background-color: rgba(255,0,0,0.5);
	width: 100%;
	
}
.navigation {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	list-style: none;
	margin: 0;
	align-items: center;
	
}
.navigation a {
	text-decoration: none;
	display: block;
	padding: 2px;
}
.navigation a:hover {
	font-style: bold;
	font-size: 1.2em;
}

/* C O N T E N T */
.main {
	display: flex;
	flex-flow: row wrap;
	flex: 1;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 10%;
	
}
.content {
	display: flex;
}

header {
	background-color: rgba(0,255,0,0.5);
	padding: 20px;
	text-align: center;
	width: 100%;
}

main {
	background-color: rgba(0,0,255,0.5);
	order: 2;
	padding: 20px;
	width: 70%;
}

.aside-1 {
	background-color: rgba(255, 255, 0, 0.5);
	order: 1;
	padding: 20px;
	width: 30%;
}

/* F O O T E R */
footer {
	background-color: rgba(255, 0, 255, 0.5);
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	width: 100%;
}

/* M O B I L E */
@media (max-width: 800px) {
	body {
		overflow: auto;
	}
	.navigation {
		justify-content: center;
	}
	.main {
		padding: 0;
	}
	.content {
		flex-flow: column wrap;
		align-content: center;
	}
	main, .aside-1 {
		height: auto;
		width: 80%;
	}
	footer {
		display: flex;
		flex-flow: column wrap;
		gap: 5px;
		padding-bottom: 10px;
		padding-top: 10px;
		padding-left: 0;
		padding-right: 0;
	}
}